.title {
  /* height: 200px; */
}
.title div {
  border: 1px solid #b2b2b2;
  background-color: #ecf2ff;
  padding: 10px;
  margin: 100px auto 0;
  border-radius: 5px;
  width: 280px;
  height: 40px;
  font-size: 15px;
  line-height: normal;
}

.icon-box {
  position: absolute;
  left: 310px;
  padding: 2px 5px;
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* border-radius: 50%; */
  line-height: 30px;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
