* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  text-align: center;
}
.phone_size {
  /* border: 1px solid black; */
  height: 600px;
  width: 1000px;
  margin: 100px auto 0;
}
.title {
  /* border: 1px solid black; */
  line-height: 250px;
  height: 250px;
  font-size: 60px;
}
.contain {
  /* border: 1px solid red; */
  height: 280px;
}
.contain_box {
  /* border: 1px solid blue; */
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.login_input {
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  width: 280px;
  height: 40px;
  font-size: 15px;
}
.login_button {
  border: 0px solid black;
  border-radius: 5px;
  background-color: #f5f0bb;
  width: 290px;
  height: 40px;
  font-size: 15px;
  font-weight: 700px;
}
.login_button:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#kakao_login {
  /* border: 0px solid #17b75e; */
  background-color: #f9e000;
  color: black;
}
.anchor_box {
  /* border: 1px solid orange; */
  width: 100%;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}
.anchor {
  /* border: 1px solid blue; */
  display: inline-block;
  width: 120px;
}
a {
  text-decoration: none;
}
