@font-face {
  font-family: Nanum Seongsirce;
  src: url(doc/font.ttf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Nanum Seongsirce;
}
.phone_size {
  height: 600px;
  width: 1000px;
  margin: 100px auto 0;
}
body {
  text-align: center;
  background-color: #fff7ee;
}
.side_bar {
  position: fixed;
  left: 0;
  top: 0;
  /* border: 1px solid black; */
  background-color: #e3dffd;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.side_top {
  /* border: 1px solid blue; */
  height: 200px;
  font-size: 45px;
  line-height: 200px;
  text-align: center;
}
/*사이드 메뉴*/
.side_menu {
  /* border: 1px solid red; */
  padding: 20px 0;
}
.inner_smenu > ul > li {
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  list-style-type: none;
}
.inner_smenu > ul > li > a {
  display: block;
  padding: 10px 5px;
  font-size: 20px;
  /* color: #f1f1f1; */
  color: black;
  text-transform: uppercase;
  /*transition: .5s;*/
  text-shadow: 0 0 5px #ccc;
  text-decoration: none;
}
.inner_smenu > ul > li > a:hover {
  /* color: skyblue;
       border-left: 3px solid #d4f4fa; */
  color: darkgray;
  border-left: 3px solid darkgray;
  /* background-color: #d4f4fa; */
  /*border-radius: 10px; */
}

/*sns버튼*/
.sfooter {
  /* border: 1px solid red; */
  margin-top: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  /*color:#FAF4C0;*/
  overflow: hidden;
  position: relative;
  text-align: center;
}
.sns_btn i {
  line-height: 40px;
  font-size: 25px;
  transition: 0.2s linear;
}
.sns_btn:hover i {
  transform: scale(1.5);
  color: #eee;
}
.sns_btn:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.sns_btn:hover:before {
  animation: sns_hover 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes sns_hover {
  0% {
    left: -100%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
#insta {
  color: #bd24a9;
  background-color: white;
}
#facebook {
  color: #4374d9;
  background-color: white;
}
#youtube {
  color: #ff0000;
  background-color: white;
}
#line {
  color: #1fbc02;
  background-color: white;
}

#insta:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #bd24a9;
  transform: rotate(45deg);
  left: -120%;
  top: 80%;
}
#insta:hover:before {
  animation: sns_hover 0.7s 1;
  top: -10%;
  left: -10%;
}
#facebook:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #4374d9;
  transform: rotate(45deg);
  left: -120%;
  top: 80%;
}
#facebook:hover:before {
  animation: sns_hover 0.7s 1;
  top: -10%;
  left: -10%;
}
#youtube:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #ff0000;
  transform: rotate(45deg);
  left: -120%;
  top: 80%;
}
#youtube:hover:before {
  animation: sns_hover 0.7s 1;
  top: -10%;
  left: -10%;
}
#line:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #1fbc02;
  transform: rotate(45deg);
  left: -120%;
  top: 80%;
}
#line:hover:before {
  animation: sns_hover 0.7s 1;
  top: -10%;
  left: -10%;
}

/* div.phone_size{
   border:  1px solid black;
} */
h3 {
  font-size: 3em;
  margin-top: 40px;
  /* margin-bottom: 40px; */
}
div.challenge_box {
  position: relative;
  text-align: center;
  font-size: 30px;
  transform: translate(0, 20%);
  /* border:  1px solid black; */
}
div.challenge {
  width: 300px;
  border: none;
  position: relative;
  transform: translate(180%, -300%);
  padding: 2px 2px;
  margin-top: 10px;
}
div.challenge1 {
  width: 300px;
  border: none;
  position: relative;
  transform: translate(60%, 80%);
  padding: 2px 2px;
  margin-top: 10px;
}
div.challenge:hover {
  background-color: #fdefc2;
  border-radius: 10px;
  /* padding: 1px 1px; */
}
div.challenge1:hover {
  background-color: #fdefc2;
  border-radius: 10px;
  /* padding: 1px 1px; */
}
div.item_box {
  /* border:  1px solid black; */

  margin-bottom: 50px;
  position: relative;
  transform: translate(0, -10%);
}
div.item {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  position: relative;
  margin: 0 auto;
  bottom: -30px;
  background-color: white;
}
/*버튼*/
/* p {
      margin-bottom: 0.5em;
    }
     */
a,
a:visited {
  text-decoration: none;
  color: #00ae68;
}

.clear {
  clear: both;
}

.wrapper {
  width: 600px;
  margin: 20px auto;
}

.container {
  padding-top: 1em;
  margin-top: 1em;
  /* margin: 0 auto;
  text-align: center; */
  position: relative;
  transform: translate(168%, -20%);
  /* border: 1px solid black; */
  width: 500px;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: black;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnBlueGreen {
  background: #ecf2ff;
}

.btnLightBlue {
  background: #f8f1ff;
}

/* FADE */
.btnFade.btnBlueGreen:hover {
  background: #ecf2ff;
}

.btnFade.btnLightBlue:hover {
  background: #f8f1ff;
}

/* 3D */
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #ecf2ff;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #f8f1ff;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #575757;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #575757;
}

.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #575757;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #575757;
}

/* BORDER */
.btnBlueGreen.btnBorder {
  box-shadow: 0px 0px 0px 0px #575757;
}

.btnBlueGreen.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #575757;
}

.btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #575757;
}

.btnLightBlue.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #575757;
}
